/*.popup {
  display: none;
  width: 100%;
  max-width: 880px;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  align-content: center;
  z-index: 1;
  color: #000;
  background-color: rgba(0, 0, 0, 0.8);
}
  
.popup_opened {
  display: block;
}

.popup__container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  height: 550px;
  position: relative;
  margin: auto;
  align-items: flex-end;
}

.popup__button {
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

.popup__button:hover {
  opacity: 0.5;
}

.popup__button_close {
  background: url(../images/close-Icon.svg) center no-repeat;
  background-color: rgba(0, 0, 0, 0);
  width: 50px;
  height: 50px;
  font-size: 0;
  border: none;
}

.popup__form {
  margin: 10px 50px;
  max-width: 430px;
  background-color: #fff;
  border-radius: 10px;
}

.popup__item-hidden {
  display: none;
}

.popup__images {
  max-width: 430px;
  margin: 190px auto 0;
}

.popup__content-image {
  max-width: fit-content;
  margin: auto;
}

.popup__image {
  width: 400px;
  height: 400px;
}

.popup__paragraph-content {
  margin: auto;
  width: 400px;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  color: #fff;
}

.popup__subtitle {
  font-family: "Inter-Black", sans-serif;
  font-size: 24px;
  width: 330px;
  margin: 0 36px;
  padding: 34px 0 54px;
}

.popup__content {
  width: 360px;
  margin: auto;
  border: 0;
  padding: 0;
}

.popup__input {
  width: 360px;
  border: 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #000;
}

.popup__button_save {
  width: 100%;
  background-color: #000;
  padding: 10px;
  margin-bottom: 40px;
}

.popup__button_add {
  width: 100%;
  background-color: #000;
  padding: 10px;
  margin-bottom: 40px;
}

.popup__button_add_disabled {
  background-color: #c4c4c4;
  cursor: default;
}

.popup__input_type_error {
  border-bottom: 1px solid #f00;
  padding-bottom: 10px;
}

.popup__error_visible {
  color: #f00;
}

@media screen and (min-width: 320px) and (max-width: 585px) {
   .popup__container {
    max-width: 310px;
    height: 400px;
  }

  .popup__image {
    width: 300px;
    height: 280px;
  }

  .popup__paragraph-content {
    width: 300px;
  }

  .popup__form {
    width: 300px;
    margin:auto;
  }

  .popup__subtitle {
    width: 100%;
    max-width: calc(100% - 46px);
    margin: 0 22px;
  }

  .popup__content {
    width: 100%;
    max-width: calc(100% - 46px);
  }

  .popup__input {
     width: 240px;
    padding: 10px;
  }
}

@media screen and (min-width: 585px) and (max-width: 880px) {
  .popup__container {
    max-width: 310px;
    height: 400px;
  }

  .popup__image {
    width: 300px;
    height: 280px;
  }

  .popup__paragraph-content {
    width: 300px;
  }
 
  .popup__form {
    max-width: 400px;
    margin: auto;
  }

  .popup__subtitle {
    width: 100%;
    max-width: calc(100% - 46px);
    margin: 0 22px;
  }

  .popup__content {
    width: 100%;
    max-width: calc(100% - 46px);
  }

  .popup__input {
    width: 240px;
    padding: 10px;
  }
}*/

/* Estilo general del popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; /* Inicialmente oculto */
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro semitransparente */
  z-index: 100; /* Asegura que el popup esté por encima de otros elementos */
}

/* Mostrar popup cuando se active */
.popup__show {
  display: flex;
}

/* Botón para cerrar el popup */
.popup__close {
  position: absolute;
  top: -41px;
  right: -40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 2; /* Asegura que el botón esté por encima de la imagen */
}

/* Estilo para la imagen en el popup */
.popup__photo-link {
  max-width: 90vh; /* Máximo tamaño de la imagen en relación con la ventana */
  max-height: 80%; /* Máxima altura de la imagen */
  object-fit: cover; /* Asegura que la imagen mantenga su proporción */
  z-index: 2;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Añade sombra a la imagen */
}

/* Estilo para el nombre de la imagen (título) */
.popup__photo-name {
  color: white;
  margin-top: 10px;
  z-index: 2;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
}

.popup__photo-content {
  position: relative;
}

@media (min-width: 501px) and (max-width: 768px) {
  .popup__close {
    top: -35px;
    right: -35px;
    width: 35px;
    height: 35px;
  }

  .popup__photo-link {
    max-width: 50vh; /* Ajusta el ancho máximo en relación con la altura de la ventana */
    max-height: 70%; /* Ajusta la altura máxima de la imagen */
  }

  .popup__photo-name {
    font-size: 14px; /* Aumenta ligeramente el tamaño de la fuente */
    line-height: 16px;
  }
}

@media (max-width: 500px) {
  .popup__close {
    top: -35px;
    right: 8px;
    width: 30px;
    height: 30px;
  }

  .popup__photo-link {
    max-width: 80vw; /* Ajusta el ancho máximo para pantallas pequeñas */
    max-height: 60%; /* Limita la altura máxima para teléfonos pequeños */
  }

  .popup__photo-name {
    font-size: 12px; /* Mantén un tamaño de fuente más pequeño para pantallas móviles */
    line-height: 14px;
    text-align: left; /* Centra el texto en pantallas pequeñas para mejor legibilidad */
  }
}